.pg-button {
  height: 30px;
  line-height: 28px;
  padding: 0 15px;
  outline: 0;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all .2s cubic-bezier(.645,.045,.355,1);

  &-lg {
    height: 36px;
    line-height: 34px;
  }

  &-sm {
    height: 24px;
    line-height: 22px;
  }

  &-default {
    background-color: #fff;
    border-color: #d9d9d9;

    &:hover {
      color: #108ee9;
      border-color: #108ee9;
    }
  }

  &-primary {
    color: #fff;
    background-color: #108ee9;
    border-color: #108ee9;

    &:hover {
      background-color: #49a9ee;
      border-color: #49a9ee;
    }
  }

  &-danger {
    color: #f04134;
    background-color: #f7f7f7;
    border-color: #d9d9d9;

    &:hover {
      color: #fff;
      background-color: #f04134;
      border-color: #f04134;
    }
  }

  &-ghost {
    background: transparent;
  }

  &-plain {
    background: transparent;
    border: none;
  }

  &:disabled {
    color: rgba(0,0,0,.25);
    background-color: #f7f7f7;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
}

.pg-buttongroup {
  &-vertical {
    button + button {
      margin-top: 12px;
    }
  }

  &-horizontal {
    button + button {
      margin-left: 12px;
    }
  }
}
